---
import Layout from '../layouts/Main.astro';
import Main from '../components/Main.astro';
import TextWrapper from '../components/TextWrapper.astro';
---

<Layout title="Oleg Mayhopar | About">
	<Main>
		<TextWrapper/>
	</Main>
</Layout>