---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Main.astro';
import Main from '../components/Main.astro';
import FeaturedWorkList from '../components/FeaturedWorkList.astro';
import WorkList from '../components/WorkList.astro';
import { Image } from "astro:assets";

const works = await getCollection('works');

const featuredPosts = works.filter(work => work.data.featured)
const unfeaturedPosts = works.filter(work => !work.data.featured)

---

<Layout title="Oleg Mayhopar | Works">
	<Main>
		<FeaturedWorkList works={featuredPosts}></FeaturedWorkList>
		<WorkList works={works}></WorkList>
	</Main>
</Layout>