---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header class="md:fixed w-full flex flex-row justify-between">
		<ul class="flex flex-row gap-x-4 md:flex-col text-sm leading-6 font-medium p-6">
			<li>
				<a class={currentPath === "" ? "text-gray-700" : "text-gray-400 hover:text-gray-700 transition-all duration-150 hover:duration-75"} href="/">Works</a>
			</li>
			<li>
				<a class={currentPath === "about" ? "text-gray-700" : "text-gray-400 hover:text-gray-700 transition-all duration-150 hover:duration-75"} href="/about">About</a>
			</li>
		</ul>

		<div class="top-0 right-0 p-6 flex flex-col items-end">
			<div class="flex fle-row items-center gap-2">
				<span class="relative flex h-2 w-2">
					<span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
					<span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"></span>
				</span>
				<p class="text-xs font-medium leading-6 text-green-500">Available for work</p>
			</div>
			<p class="text-xs text-gray-500">oleg.mayhopar@gmail.com</p>
		</div>
</header>