<div class="fixed top-0 right-0 p-6 flex flex-col items-end">
	<div class="flex fle-row items-center gap-2">
		<span class="relative flex h-2 w-2">
			<span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
			<span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"></span>
		</span>
		<p class="text-xs font-medium leading-6 text-green-500">Available for work</p>
	</div>
	<p class="text-xs text-gray-500">oleg.mayhopar@gmail.com</p>
</div>