---
const { src, customClass, caption } = Astro.props;
---
<div class={"singeVideo \
mt-7 \
2xl:mt-10 \
max-w-5xl \
mx-auto \
2xl:max-w-[1340px]" + " " + customClass}>
    <video width="auto" playsinline autoplay muted loop  preload="auto" class="w-full rounded-md lg:rounded-xl
    not-prose">
        <source src={src + '#t=0.001'} type="video/mp4"></source>
    </video>
    <figcaption class="mx-auto
    max-w-[640px] 
    2xl:max-w-[768px]">
        {caption}
    </figcaption>
</div>