---
import { Image } from "astro:assets";
import Me from "../content/works/images/misc/photo.png"
---

<div class="mx-auto
prose
flex
flex-col
justify-center
h-[100vh]
pt-[2vh]
lg:w-[640px]
2xl:w-[768px]
zoom-out">
	<Image class="w-3/4" alt="Oleg" src={Me} loading="lazy"/>
	<p class="font-normal text-gray-900">My name is Oleg Mayhopar. <br/> <br/>I build and lead product design teams. Over ten years of my career, I have worked with the biggest companies in Eastern Europe and many YC startups. Most recently, I built a product design department at O0 Studio and led it to seven figures in profits. Outside of design, I build and ride bikes, and spend time with my wife and our dog. Based&nbsp;in&nbsp;Berlin,&nbsp;Germany.</p>
	<div class="links flex flex-row gap-5">
		<a class="cursor-alias no-underline text-sm text-gray-400 hover:text-gray-700 transition-all duration-150 hover:duration-75" href="https://are.na/default-account">Are.na</a>
		<a class="no-underline text-sm text-gray-400 hover:text-gray-700 transition-all duration-150 hover:duration-75" href="mailto:oleg.mayhopar@gmail.com">Email</a>
	</div>
	
</div>