---
const { lsrc, msrc ,rsrc, customClass, caption } = Astro.props;
---

<div class="columns-1 
md:columns-3 
max-w-5xl 
mx-auto 
mt-7

2xl:max-w-[1340px]
2xl:mt-10">
    <video width="auto" autoplay muted loop class={'!aspect-square object-cover w-full !col-start-1 !col-end-2 rounded-md lg:rounded-xl !my-0 not-prose' + ' ' + customClass}>
        <source src={lsrc} type="video/mp4"></source>
    </video>

    <video width="auto" autoplay muted loop class={'!aspect-square object-cover w-full !col-start-2 !col-end-3 rounded-md lg:rounded-xl !my-0 not-prose' + ' ' + customClass}>
        <source src={msrc} type="video/mp4"></source>
    </video>

    <video width="auto" autoplay muted loop class={'!aspect-square object-cover w-full !col-start-3 !col-end-4 rounded-md lg:rounded-xl !my-0 not-prose' + ' ' + customClass}>
        <source src={rsrc} type="video/mp4"></source>
    </video>
</div>
<figcaption class="mx-auto
    max-w-[640px] 
    2xl:max-w-[768px]">
    {caption}
</figcaption>