---
const { lsrc, msrc ,rsrc, customClass, caption } = Astro.props;
---

<div class="columns-1 
md:columns-3 
max-w-5xl 
mx-auto 
mt-7

2xl:max-w-[1340px]
2xl:mt-10">
    <video width="auto" playsinline autoplay muted loop no-controls preload="auto" class={'!aspect-square object-cover w-full rounded-md lg:rounded-xl !my-0 not-prose' + ' ' + customClass} src={lsrc}>
    </video>

    <video width="auto" playsinline autoplay muted loop no-controls preload="auto" class={'!aspect-square object-cover w-full rounded-md lg:rounded-xl !mt-4 !my-0 not-prose' + ' ' + customClass} src={msrc}>
    </video>

    <video width="auto" playsinline autoplay muted loop no-controls preload="auto" class={'!aspect-square object-cover w-full rounded-md lg:rounded-xl !mt-4 !my-0 not-prose' + ' ' + customClass} src={rsrc}>
    </video>
</div>
<figcaption class="mx-auto
    max-w-[640px] 
    2xl:max-w-[768px]">
    {caption}
</figcaption>